

.im {
margin-right: 100px;

}
#fm{
    margin-left: 60px;
}
label{
    margin-left: 70px;
    font-family:Arial, Helvetica, sans-serif;
    color:aqua ;
    font-size: 20px;
}
div{
    display: inline-block;
    border: 3px;
    margin-bottom: 30px;
    
}
img{
    border-radius: 5px;
    
}
a{
 text-decoration: none;

}
label:hover{
  color: gold;

}